$bgcolor: rgb(17, 46, 69);




.container{
    padding: 1rem;
    max-width: 344px;
    margin: 0 auto;
}


@media (min-width: 768px) {
    .container{
        max-width: 712px;
    }
}

@media (min-width: 992px) {
    .container{
        max-width: 928px;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1168px;
    }
}

.site-header{
    padding: 1rem;
    background-color: $bgcolor;
    position: relative;

    .green{
        color: #00e497;
    }
    .blue{
        color: #016df4;
    }
    .drawline{
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .site-header .container{
        max-width: 40ch;
    }
}
.sharesection{
    padding: .5rem;
    h1,p{
        margin: 0;
    }

    h1{
        margin-bottom: 4rem;
        font-size: 40px;
    }

    .underline{
        display: inline-block;
        position: relative;
        img{
            position: absolute;
            left: 0;
            top: 100%;
        }
    }

    &__content{
        font-size: 18px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p{
            margin-bottom: 1rem;

            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }

    .box{
        &__element{
            margin-bottom: 1rem;
            border-radius: 15px;
            padding: 1.5rem;
            color: white;
            height: 308px;
            position: relative;
            text-align: left;
            display: flex;
            flex-direction: column;
            &.compartir{
                background-color: #00e497   ;
            }
            &.participar{
                background-color: #016df4;
            }
            img{
                position: absolute;
                top: 0;
                right: 20px;
                width:120px;
            }
            &__content{
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
            }
            .cta-secondary{
                margin-top: auto;
                display: block;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #112e45;
                color: white;
                font-size: 16px;
                font-weight: 700;
                width: 95%;
                margin: auto auto 0;
                border-radius: 50px;
            }
        }
    }
}

@media (min-width:768px) {
    .sharesection{
        .box{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            &__element{
                height: 464px;
                margin-bottom: 0;
                padding-top: 100px;
                &__title{
                    font-size: 32px;
                }
                &__content{
                    font-size: 18px;
                }
                img{
                    width: 160px;
                    left: 20px;
                    right: unset;
                }
            }
        }
    }
}


@media (min-width: 992px) {
    .sharesection{
        .hero{
            display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;  
        }
        &__content{
            font-size: 20px;
        }
        .box{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    }
}


.howitworks{
    color: #112e45;
    .faq{
        text-align: left;

        &__element{
            padding: 1rem;
            border-radius: 15px;
            overflow: hidden;
            cursor: pointer;

            img{
                max-height: 165px;
            }


            &__header{
                display: flex;
                align-items: center;

                &__title{
                    margin-left: 1rem;
                }
            }

            &__content{
                height: 0;
                overflow: hidden;
            }

            &.active{
                box-shadow: 0 14px 54px rgba(7,26,43,.13);

                svg{
                    color: #00e497;;
                }

                .faq__element__content{
                    height: fit-content;
                }
            }
        }
    }
    
}


.usuarios{
    background-color: #112e45;
    .container{
        color: white;
    }
}


.caracteristicas{
    text-align: left;

    h3{
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .caracteristicas__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .caracteristicas__elemento{
            h3{
                min-height: 70px;
            }
        }
    }
}

@media (min-width: 992px) {
    .caracteristicas__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .caracteristicas__elemento{
            padding: 0 1rem;
        }
    }
}


.juntos{
    background-color: #112e45;
    padding: 64px 0;
    color: white;
    text-align: left;
    .container{
        padding-top: 0;
        padding-bottom: 0;
    }

    h2{
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 56px;
        margin-top: 0;
    }

    p{
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 20px;
    }

    .cta-fourth{
        background-color: #00e497;
        color: white;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 40px;
        padding: 0 2rem;
        font-weight: 700;
        display: inline-flex;
        border-radius: 27px;
        margin-top: 34px;
    }
}

.site-footer{
    background-color: #112e45;
    color: white;
    font-size: 16pxs;

    .footer-link{
        color: white;
        text-decoration: none;
        display: block;
        text-align: left;
        margin-bottom: 1rem;
    }

    &__links{
        margin-bottom: 3rem;
        &:first-of-type{
            h3{
                font-size: 16px;
                font-weight: 400;
                text-align: left;
            }
        }
        &__header{
            font-weight: 700;
            margin-bottom: 1.5rem;
            text-align: left;
        }
        &__socials{
            display: flex;
            align-items: center;

            a{
                margin-right: .5rem;
            }
        }
        &:first-of-type{
            // margin-top: 1rem;
            text-align: left;
        }
    }

    &__header{
        margin-bottom: 1rem;
        text-align: left;
    }
}

@media (min-width: 768px) {
    .site-footer{
        text-align: left;
        &__content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
        }
        &__links{
            margin-bottom: 0rem;
            &:first-of-type{
                h3{
                    margin-top: 0;
                }
            }
        }
    }
}

@media (min-width: 992px){
    .site-footer{
        &__content{
            grid-template-columns: 1fr 2fr 1fr;
            .hero{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }
        }
    }
}


.faq2{
    h2{
        font-size: 24px;
    }
}

.faq2{
    padding-top: 4rem;
    padding-bottom: 4rem;
    &__element{
        padding: 1rem;
        overflow: hidden;
        border-bottom: 1px solid #e7e7e7;
        cursor: pointer;
        h2{
            margin-top: 0;
        }

        img{
            max-height: 165px;
        }

        &__header{
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 18px;

            &__title{
                margin-left: 1rem;
            }
        }

        &__content{
            height: 0;
            overflow: hidden;
            text-align: left;
        }

        &.active{
            box-shadow: 0 14px 54px rgba(7,26,43,.13);

            svg{
                color: #00e497;;
            }

            .faq2__element__content{
                height: fit-content;
            }
        }
    }
}

@media (min-width: 768px) {
    .faq2{
        h2{
            font-size: 40px;
        }
    }
}

.cta{
    text-decoration: none;
}

.cta-main{
    height: 56px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    border-radius: 27px;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #016df4;
    width: fit-content;
    margin: 0 auto;
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s ease;
    width: 80%;

    &:hover{
        background-color: #02459c;
    }
}

@media (min-width: 768px) {
    .cta-main{
        width: fit-content;
    }
}